{% extends "base.html" %}
{% load static %}

{% block page_header %}
<style>
    /* 基础布局 */

/* 标题样式 */
h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    background-color:white
}

/* 表单标签 */
.form-label {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

/* 表单输入框 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    transition: border 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: #007bff;
    outline: none;
}

/* 错误消息 */
form .errors {
    color: #e74c3c;
    font-size: 0.9rem;
}

/* 表单容器 */
form {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 提交按钮 */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #774c60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #372549;
}

/* 分隔线 */
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

</style>
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
    
<div class="container section-top">
    <h1>联系我们</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
</div>
 <script type="text/javascript" src="/static/lib/jquery.backstretch.min.js"></script>
  <script>
    $.backstretch("/static/img/home/login-bg.jpg", {
      speed: 500
    });
  </script>
{% endblock %}