{% extends "base.html" %}
{% load static %}

{% block page_header %}
<style>
    /* 基础布局 */

/* 标题样式 */
h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    background-color:white
}

/* 提交按钮 */
button{
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #774c60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #372549;
}

/* 分隔线 */
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

</style>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container section-top">
    <div class="container mt-5">
        <h1>谢谢您的留言，{{ name }}！
            我们会尽快回复您的问题。</h1>
        <a href="/" class="btn btn-primary">返回首页</a>
    </div>
</div>
<script type="text/javascript" src="/static/lib/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("/static/img/home/login-bg.jpg", {
      speed: 500
    });
</script>
{% endblock %}